<div class="page-title">
    <div class="title_left">
        <h3>Relatório</h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
<%= render partial: "users_backoffice/personas/shared/table_personas"%>
</div>