<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou mudança de senha de acesso ao sistema. Você poderá checar isso pelo link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, por favor, ignore esse e-mail.</p>

<p>Sua senha não mudará até você acessar o link acima e criar uma nova senha.</p>